

:root{
    --navcolor:#196870;
    --maincolor:#FFF8F5;
}
::selection{
    background-color: var(--navcolor);
    color: var(--maincolor);
}
/* ****************************************end general****************************************/

/* ****************************************navbar****************************************/

nav{
    box-shadow: 0px 0px 20px 3px rgba(65, 65, 65, 0.537);
    background-color: var(--navcolor);
}
section{
    background-image: url("/image/welcomebg.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(31, 30, 30, 0.589);
    background-blend-mode: multiply;
}
h3{
    font-family: "Roboto", sans-serif !important;
    color: var(--maincolor);

}
h1:hover{
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: skewY(2deg) scale(1);

}
h1{
    transition: all 0.5s;
}
.slide-in {
    position: relative;
    animation: slideIn 1s ease-out;
}
a, .nav-icon{
    color: var(--maincolor);
}
.btn{
    background-color: var(--navcolor);
    transition: all 0.5s ;
    color: var(--maincolor);
   }
   .btn:hover{
       background-color: #0c3c41;
       transform: translateY(-2.5px);
      }
      h1,h2,h3,h4,h5,p,h6{
       color: var(--maincolor);
      }
      .btn:active{
        box-shadow: 0 2px #0c3c41;
        transform: translateY(-2px);
      }
 footer {

    background-color: var(--navcolor);
    color: var(--maincolor);
   }
   #boxy:hover {
    animation: shake 0.5s infinite;
    background-color: var(--navcolor);
    transform: translateY(-2.5px);
  }

  @keyframes shake {
    0% { transform: translate(0, 0px); }
    25% { transform: translate(-5px, -5px); }
    50% { transform: translate(0px, -0px); }
    75% { transform: translate(-5px, -5px); }
    100% { transform: translate(0px, 0px); }
  }
   #boxy{
    transition: all 0.5s;
    background-color: #28858f;
   }

   /* footer p{
    color: var(--navcolor);
   } */

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
